@model AMS.Models.Student
@{
    ViewBag.Title = "Student Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" action="SaveStudent">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter Name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>